.git
.gitignore
node_modules
storage/app/public/avatars
storage/app/public/documents
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache
public/build
.env
.env.*
!.env.example
README.md
DOKUMENTASI.md
PHILOSOPHY.md
SRS-ReNot.md
docker-compose.override.yml
*.log
